# Cache and logs (Symfony)
/var/cache/*
/var/logs/*

# Managed by Composer
/vendor
/bin/*
!bin/console
composer.lock

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/phpunit.xml

# Build data
/build/

# Misc.
custom/*
custom_misc
custom
templates/bootstrap_4_layout.html.twig
templates/bootstrap_base_layout.html.twig
templates/form_table_layout.html.twig
