# Cache and logs (Symfony)
/var/cache/*
/var/logs/*

# Managed by Composer
/vendor
/bin/*
!bin/console
composer.lock

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/phpunit.xml

# Build data
/build/

# Misc.
custom/*
src/Mayel/FormExtrasBundle/Form/Type/FieldsetType 2.php
custom_misc
custom
