{% extends "bootstrap_4_layout.html.twig" %}

{% block form_widget_simple %}
	{% for attrname, attrvalue in attr %}
      {% if attrname == 'data-help' %}
          <small class="form-text text-muted">{{ attrvalue|trans }}</small>
      {% endif %}
  {% endfor %}
	{{- parent() -}}
{% endblock %}

{% block customcode_widget %}
  <div class="customcode_widget">
		{% if attr.html %}{{ attr.html|raw }}{% endif %}
  </div>
{% endblock %}
