{% extends "layout.html.twig" %}

{% block content %}

<div class="row h-100" style="background-color: #ccc;">




<script type="text/javascript" src="{{home_url}}embed.js.php?id={{id}}"></script>
<p><button onclick="load_form()">Start Form</button>



</div>
{% endblock %}
