{% extends "layout.html.twig" %}

{% block content %}
    
    <h2>Welcome!</h2>
    
    <ul>
    	<li><a href="/question?questionnaire=1&after">Answer Questions (Sample Questionnaire)</a></li>
    </ul>
    
{% endblock %}
