<link rel="stylesheet" href="/css/sortable.css" />


<ul id="sortable" class="clearfix">

   <?php
   global $sort_choices, $choice_link;
	 // print_r($sort_choices);

   foreach($sort_choices as $step=>$choices){
		 $choice_parent = array_slice($choices, 0, 1, true);
		 // print_r($choice_parent);
		 $choices = array_slice($choices, 1, null, true);
		 // print_r($choices);
		 foreach($choice_parent as $key=>$val){
		 ?>
   		<li data-id="<?=$key?>">
   			<?=$val?>
   			<?php if($choice_link){ ?>
   				<a href="<?=$choice_link.$step?>" class="btn btn-sm float-right"><i class="fa fa-link" aria-hidden="true"></i></a>
   			<?php } ?>
				<ul>
				<?php
					// if(count($choices)>1){
					foreach($choices as $key=>$val){
		 		 ?>
		    		<li data-id="<?=$key?>">
		    			<?=$val?>
		    			<?php if($choice_link){ ?>
		    				<a href="<?=$choice_link.$step?>" class="btn btn-sm float-right"><i class="fa fa-link" aria-hidden="true"></i></a>
		    			<?php } ?>
		 				<ul>

		 				</ul>
		    		</li>
		    <?php } ?>
				</ul>
   		</li>
   <?php }} ?>

</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

var group = $('#sortable').sortable({
	axis: 'y',
	group: 'serialization',
	delay: 500,
	// nested: false,
	onDrop: function ($item, container, _super) {

		var list = group.sortable("serialize").get();

		var data = {};
		data.sortable = list[0];

		console.log(data);

		var jsonString = JSON.stringify(data, null, ' ');

		// console.log(jsonString);

		$.ajax({
            data: jsonString,
            type: 'POST',
            url: '?'
        });

		_super($item, container);
	}
});

});
</script>
