<li data-id="<?=$key?>">
	<?=$val?>

	<?php if($sortable->links->delete){ ?>
		<a href="#" onclick="ajax_delete('<?=$sortable->links->delete.$key?>',$(this).parent('li'))" class="btn btn-sm float-right"><i class="fa fa-trash" aria-hidden="true"></i></a>
	<?php } ?>

	<?php if($sortable->links->edit){ ?>
		<a href="<?=$sortable->links->edit.$key?>" class="btn btn-sm float-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
	<?php } ?>

	<?php if($sortable->links->step){ ?>
		<a href="<?=$sortable->links->step.$step?>" class="btn btn-sm float-right"><i class="fa fa-link" aria-hidden="true"></i></a>
	<?php } ?>
